<div class="modal-body message-modal">

 
  <div class="icon"
       [ngClass]="message.type || 'info'">
    <i
      class="bi"
      [ngClass]="{
        'bi-check-circle-fill': message.type === 'success',
        'bi-exclamation-triangle-fill': message.type === 'warning',
        'bi-x-circle-fill': message.type === 'error',
        'bi-info-circle-fill': !message.type || message.type === 'info'
      }">
    </i>
  </div>


  <h5 class="modal-title">
    {{ message.title || 'Mensaje' }}
  </h5>


  <p class="modal-text">
    {{ message.text }}
  </p>


  <div class="modal-actions">
    <button i18n="@@message-dialog-accept" class="btn btn-primary" (click)="ref.close()">
      Aceptar
    </button>
  </div>

</div>
